@import "tailwindcss";
@import "tw-animate-css";

@import "./themes/amber-minimal.css";
@import "./themes/amethyst-haze.css";
@import "./themes/bold-tech.css";
@import "./themes/bubblegum.css";
@import "./themes/caffeine.css";
@import "./themes/catppuccin.css";
@import "./themes/claude.css";
@import "./themes/claymorphism.css";
@import "./themes/clean-slate.css";
@import "./themes/cosmic-night.css";
@import "./themes/darkmatter.css";
@import "./themes/default.css";
@import "./themes/doom-64.css";
@import "./themes/midnight-bloom.css";
@import "./themes/mocha.css";
@import "./themes/modern-minimal.css";
@import "./themes/ocean-breeze.css";
@import "./themes/pastel-dreams.css";
@import "./themes/solar-dusk.css";
@import "./themes/starry-night.css";
@import "./themes/sunset-horizon.css";
@import "./themes/supabase.css";
@import "./themes/t3-chat.css";
@import "./themes/tangerine.css";
@import "./themes/violet-bloom.css";

@custom-variant dark (&:is(.dark *));
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
